spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/user_center?serverTimezone=UTC
    hikari:
      username: root
      password: root
      # >= 6.x: com.mysql.cj.jdbc.Driver
      # <= 5.x: com.mysql.jdbc.Driver
      driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        # 指定nacos server的地址
        server-addr: 148.70.34.49:8848
#        # 指定namespace
#        namespace: 5edc65c6-0c5f-4191-8bec-53aafefaa8b2
        # NJ
        # 指定集群名称
        cluster-name: WH
        metadata:
          version: v1
          target-version: v1
    stream:
      rocketmq:
        binder:
          name-server: 127.0.0.1:9876
      bindings:
        input:
#          要与服务中心的匹配
          destination: add-bonus
#          如果是rocketmq一定要设置，如果是用的其他MQ，可留空
          group: binder-group
#        my-input:
#          destination: stream-my-topic
#          group: my-group
  application:
    # 服务名称尽量用-，不要用_，不要用特殊字符
    name: user-center
#  zipkin:
#    base-url: http://localhost:9411/
#    discoveryClientEnabled: false
#  sleuth:
#    sampler:
#      # 抽样率，默认是0.1（10%）
#      probability: 1.0
server:
  port: 8090
logging:
  level:
    com.alibaba.nacos: error
#    org.springframework.cloud.sleuth: debug
#jwt:
#  secret: aaaaaaabbbbbbcccccdddddaaaaaaabbbbbbcccccdddddaaaaaaabbbbbbcccccddddd
#  # 有效期，单位秒，默认2周
#  expire-time-in-second: 1209600
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

#rocketmq:
#  name-server: 127.0.0.1:9876